section
	.flex.flex--center
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, fugiat quod nulla dolorem illo cupiditate, pariatur, dignissimos voluptatibus nostrum nobis cum ut laborum a iste non, maxime accusamus in odio.

		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ipsam, ipsum dolorum earum impedit id eos cumque doloribus, perferendis maxime quasi soluta. Culpa sapiente, beatae quaerat, accusamus quibusdam doloribus ex!

section
	.flex.flex--space-around
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae dolores ullam, non provident aliquid quis, ab eveniet veritatis rem, modi quia sapiente hic doloribus facilis, ipsum nam soluta laboriosam consequatur.

		.col-1.order-first
			p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsam earum est dolore inventore praesentium ex culpa aliquam debitis impedit. Saepe suscipit, necessitatibus id itaque fugit ut culpa modi nisi.

section
	.flex.flex--center
		.col-2
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto amet veniam ratione, omnis nobis et dicta illo tempore, repudiandae sit tenetur? Sit consequuntur, beatae accusantium, quasi possimus sed! Odit, dignissimos.

section
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quibusdam nisi hic tempore, officia fuga consectetur numquam dolores maiores, dolorem sunt dolore quam, tenetur saepe aspernatur ipsa est cupiditate perferendis.

		.col-50.order-first
			p CTA  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae at excepturi, omnis dolore veniam debitis atque illum, in perferendis repudiandae neque ab eligendi animi mollitia repellendus reiciendis, tempore officiis corporis!
